@model IEnumerable<MVC5.Models.ApplicationUser>
@{
  ViewBag.Title = "Edit User";
}
<h2>账户管理</h2>
<table class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>
        启用?
      </th>
      <th>
        账户名称
      </th>
      <th>
        操作
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.IsEnabled)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
          @Html.ActionLink("编辑", "Edit", new { id = item.Id })
        </td>
      </tr>

    }
    </tbody>
</table>




