@model MVC5.Models.Device

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>衰老曲線</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理選單" 
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'"/>
  </div>
</div>

@*Body*@
<div class="panel panel-default">
  <div class="panel-heading">數據上傳</div>
  <div class="panel-body">
    <ul>
      <li>
        按以下例子中的格式上傳歷史設備報廢數據。上傳後點擊生成衰老曲線。紀錄越多，結果越精確。更多信息請參考用戶手冊或技術諮詢我們。
      </li>
      <li>
        在下面的例子中，某設備業主持續跟蹤了6台同型號電力變壓器8年。其中四台中煎出故障報廢，另外兩台持續運行至今。
      </li>
    </ul>
    <p></p>
    <div class="row">
      <div class="col-sm-4">
        <table class="table table-bordered table-striped table-condensed">
          <thead class="bg-success">
            <tr>
              <td>ID</td>
              <td>持續運行年齡</td>
              <td>報廢年齡</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td>1</td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td>4</td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td>6</td>
            </tr>
            <tr>
              <td>4</td>
              <td></td>
              <td>6</td>
            </tr>
            <tr>
              <td>5</td>
              <td>8</td>
              <td></td>
            </tr>
            <tr>
              <td>6</td>
              <td>8</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box">
      <h4>上傳表格</h4>
    </div>
    <div>
      <div class="demo-section k-content">
        @(Html.Kendo().Upload()
              .Name("files")
              .Async(a => a
              .Save("Save", "Devices")
              .Remove("Remove", "Devices")
              .SaveField("files"))
        )
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">頭腦風暴</h3>
  </div>
  <div class="panel-body">
    <ul class="padding_button10">
      <li>
        如果沒有歷史失敗數據，請和您的設備管理小組討論，根據經驗填寫以下問題的答案，如果不確定請留空。
      </li>
    </ul>
    <form form-horizontal>
      <div class="form-group">
        <label>問題1:根據經驗，百分之多少的xxx(設備名)，可以運行超過N年，最大年限的25%</label>
        <p></p>
        <label for="input1" class="control-label">答案1:</label>
        <input type="text" class="form-control" id="input1" placeholder="100">
      </div>
      <div class="form-group">
        <label>問題2:根據經驗，百分之多少的xxx(設備名)，可以運行超過N年，最大年限的50%</label>
        <p></p>
        <label for="input2" class="control-label">答案2:</label>
        <input type="text" class="form-control" id="input2" placeholder="80">
      </div>
      <div class="form-group">
        <label>問題3:根據經驗，百分之多少的xxx(設備名)，可以運行超過N年，最大年限的75%</label>
        <p></p>
        <label for="input3" class="control-label">答案3:</label>
        <input type="text" class="form-control" id="input3" placeholder="40">
      </div>
      <div class="form-group">
        <label>問題4:根據經驗，設備超過多少年肯定會報廢。</label>
        <p></p>
        <label for="input4" class="control-label">答案4:</label>
        <input type="text" class="form-control" id="input4" placeholder="">
      </div>
      <input type="button" class="btn btn-success" value="生成曲線" />
    </form>

  </div>
</div>