@model MVC5.Models.Device

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>报警决策</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理选单"
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">报警决策</div>
  <div class="panel-body">
    <ul>
      <li>按以下例子中的格式上传历史传感器数据，最多支持6个传感器。本程序通过数据挖掘技术研究历史数据找出传感器数据内部关联，并且根据用户新输入的传感器数据对运行状态做出诊断。</li>
    </ul>

    <p></p>
    <div class="row">
      <div class="col-sm-4">
        <table class="table table-bordered table-striped table-condensed">
          <thead class="bg-success">
            <tr>
              <td>纪录ID</td>
              <td>传感器1</td>
              <td>传感器2</td>
              <td>传感器3</td>
              <td>运行状态</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>300</td>
              <td>-20</td>
              <td>3.12</td>
              <td>正常</td>
            </tr>
            <tr>
              <td>2</td>
              <td>280</td>
              <td>-8</td>
              <td>2.2</td>
              <td>正常</td>
            </tr>
            <tr>
              <td>3</td>
              <td>240</td>
              <td>-9</td>
              <td>2.3</td>
              <td>异常</td>
            </tr>
            <tr>
              <td>4</td>
              <td>238</td>
              <td>-8</td>
              <td>2.7</td>
              <td>异常</td>
            </tr>
            <tr>
              <td>5</td>
              <td>238</td>
              <td>-8</td>
              <td>2.7</td>
              <td>正常</td>
            </tr>
            <tr>
              <td>6</td>
              <td>290</td>
              <td>1</td>
              <td>4</td>
              <td>异常</td>
            </tr>
            <tr>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
      <div class="demo-section k-content">
        @(Html.Kendo().Upload()
              .Name("files")
              .HtmlAttributes(new { accept = ".xls, xlsx" })
              .HtmlAttributes(new { accept = ".csv" })
              .HtmlAttributes(new { accept = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" })
              .Messages(m => m.Select("上传传感器历史数据..."))
              .Async(a => a
                .SaveField("files")
                .Save("SaveSensorHistoryData", "Upload", new { id = Model.ID }))
        //              .Remove("RemoveDeviceFailure", "Upload"))
        )
      </div>
    <p></p>

    <div class="paddingtop20"></div>
    <div class="panel panel-default">
      <div class="panel-heading">分析建议</div>
      <div class="panel-body">
        @using (Html.BeginForm("AlarmDecision", "Devices", FormMethod.Post))
        {
          <div class="form-group form-inline">
            <label class="control-label">传感器数值1:</label>
            <input type="text" class="form-control" placeholder="100" name="sensor1" id="sensor1"
                   onkeyup="this.value = this.value.replace(/[^\d]/g, '')" />
          </div>
          <div class="form-group form-inline">
            <label class="control-label">传感器数值2:</label>
            <input type="text" class="form-control" placeholder="100" name="sensor2" id="sensor2"
                   onkeyup="this.value = this.value.replace(/[^\d]/g, '')" />
          </div>
          <div class="form-group form-inline">
            <label class="control-label">传感器数值3:</label>
            <input type="text" class="form-control" placeholder="100" name="sensor3" id="sensor3"
                   onkeyup="this.value = this.value.replace(/[^\d]/g, '')" />
          </div>
          <div class="form-group form-inline">
            <label class="control-label">传感器数值4:</label>
            <input type="text" class="form-control" placeholder="100" name="sensor4" id="sensor4"
                   onkeyup="this.value = this.value.replace(/[^\d]/g, '')" />
          </div>
          <div class="form-group form-inline">
            <label class="control-label">传感器数值5:</label>
            <input type="text" class="form-control" placeholder="100" name="sensor5" id="sensor5"
                   onkeyup="this.value = this.value.replace(/[^\d]/g, '')" />
          </div>
          <div class="form-group form-inline">
            <label class="control-label">传感器数值6:</label>
            <input type="text" class="form-control" placeholder="100" name="sensor6" id="sensor6"
                   onkeyup="this.value = this.value.replace(/[^\d]/g, '')" />
          </div>
          <div class="">
            @Html.Hidden("id", Model.ID)
            <input type="submit" class="btn btn-success minwidth100" value="分析建议" />
          </div>
        }
        @if (ViewBag.status == 1)
        {

          <div class="text-center">
            <h4>
              <label class="label label-danger">建议: 运行状态异常，需要检修</label>
            </h4>
          </div>
        }
        @if (ViewBag.status == 0)
        {
          <div class="text-center">
            <h4>
              <label class="label label-success">建议: 运行状态正常，不需检修</label>
            </h4>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<script language="javascript">
  var result = @Html.Raw(Json.Encode(ViewBag.result));

  if (result !== "" && result!== null) {
    $.alert({
      title: '錯誤!',
      content: result
    });
  }
</script>