@model MVC5.Models.Device

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>雲比較</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理選單"
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">雲比較</div>
  <div class="panel-body">
    <div class="form-inline">
      <h4>
        <label>維護頻率</label>
        <label class="label label-success">xxx</label>
        <label>平均壽命</label>
        <label class="label label-success">xxx</label>
        <label>更換成本</label>
        <label class="label label-success">xxx</label>
        <label>報廢代價</label>
        <label class="label label-success">xxx</label>
        <label>最優更換年齡</label>
        <label class="label label-success">xxx</label>
      </h4>
    </div>
    <p></p>
    <img src="~/temp/@ViewBag.name" alt="" />
    <p></p>
    <img src="~/temp/@ViewBag.name" alt="" />
    <p></p>
  </div>
</div>

