@model MVC5.Models.Device

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>最优更换年龄</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理选单"
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">最优更换年龄</div>
  <div class="panel-body">
    <div class="text-center">
      <h3>
        <label>根据以上提供的信息，@Model.Name 的最佳更换年龄为 @ViewBag.year 年</label>
      </h3>
    </div>
    <p></p>
    <img src="~/users/@User.Identity.Name/@Model.ID/@ViewBag.name?@DateTime.Now" alt="optimalage.jpg" />
    <p></p>
    @using (Html.BeginForm("OptReplaceage", "Devices", FormMethod.Post))
    {
      <div class="center-block text-center">
        <div class="form-inline">
          <label>提前/延迟到</label>
          <input type="text" class="form-control" id="year" name="year" placeholder="0" 
                 />
          <label>年</label>
        </div>
        <p></p>
        @Html.Hidden("id", Model.ID)
        <input type="submit" class="btn btn-success" value="显示拥有成本变化" />
      </div>
    }
    <img src="~/users/@User.Identity.Name/@Model.ID/@ViewBag.name1?@DateTime.Now" alt="montecarloage.jpg" />
    <p></p>

  </div>
</div>

<script language="javascript">
  var result = @Html.Raw(Json.Encode(ViewBag.result));

  if (result !== "" && result!== null) {
    $.alert({
      title: '錯誤!',
      content: result
    });
  }
</script>