@model MVC5.Models.Device

@{
  ViewBag.Title = "title";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@*header*@
<div class="row">
  <div class="col-sm-4">
    <h2>最优更换年龄</h2>

  </div>
  <div>
    <input type="button" class="btn btn-primary pull-right" value="回生命管理选单"
           onclick="location.href='@Url.Action("LifeManageMenu", "Devices", new { id = Model.ID })'" />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">拥有成本变化</div>
  <div class="panel-body">
    <div class="center-block text-center">
      <h3>
        <label>Monte Carlo 仿真 (Proactive + Reactive)</label>
      </h3>
      <p></p>
      <img src="~/users/@User.Identity.Name/@Model.ID/@ViewBag.name?@DateTime.Now" alt="montecarloage.jpg" />
      <p></p>
      <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("OptReplaceage", "Devices", new {id = Model.ID})'">回最优更换年龄</button>
    </div>
  </div>
</div>
