
@{
    ViewBag.Title = "Matlab";
}

<h2>Matlab</h2>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<img src="~/temp/@ViewBag.name" alt="" />
