@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-4">
    
</div>
<div class="col-md-8">
  
</div>
<div>
    <p></p>
    <p>Use this area to provide additional information.</p>
</div>

