@{
  ViewBag.Title = "联络我";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<blockquote style="border-color:lightblue" >
  <address>
    <strong>联系人：董明</strong><br>
    地址：加拿大阿尔伯塔省卡尔加里市<br>
    <abbr title="电话">电话:</abbr> +14039188366
  </address>

  <address>
    Email:   <a href="mailto:dongming516@gmail.com">dongming516@gmail.com</a>
  </address>
</blockquote>
