@{
    ViewBag.Title = "落矶山设备生命管理平台";
}

<div class="jumbotron">
    <h1>落矶山设备生命管理平台</h1>
    <p class="lead">这是一个...</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
  <div class="col-md-4">
    <h2>开始</h2>
    <p>
      落基山设备生命....
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>更多参考</h2>
    <p>生命设备....</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>管理平台</h2>
    <p>你可以透过....</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
  </div>
</div>
@(Html.Kendo().DatePicker().Name("datepicker"))
