@{
    ViewBag.Title = "落磯山設備生命管理平台";
}

<div class="jumbotron">
    <h1>落磯山設備生命管理平台</h1>
    <p class="lead">這是一個...</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
  <div class="col-md-4">
    <h2>開始</h2>
    <p>
      洛磯山設備生命....
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>更多參考</h2>
    <p>生命設備....</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>管理平台</h2>
    <p>你可以透過....</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
  </div>
</div>
@(Html.Kendo().DatePicker().Name("datepicker"))